---
interface Props {
  classList?: string
}

const { classList = 'bg-purple-500 w-64 h-64' } = Astro.props
---

<div class:list={['circle-effect', classList]}></div>

<style>
  .circle-effect {
    border-radius: 50%;
    opacity: 0.25;
    filter: blur(30px);
    position: absolute;
  }
</style>
