---
import SocialButton from './SocialButton.astro'
---

<div
  class="max-w-2xl py-5 text-slate-500 mx-auto flex flex-col gap-5 border-b border-spacing-5 border-slate-300">
  <h1 class="text-slate-700 font-bold text-3xl capitalize">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
    aliquid.
  </h1>
  <img
    class="rounded-md"
    src="test_image.png"
    alt=""
  />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsa
    debitis, id dicta praesentium commodi quaerat blanditiis molestiae
    perferendis tempore ex dolore minima veniam at accusamus excepturi libero
    suscipit nam vitae alias animi provident asperiores? Accusamus voluptates,
    iusto ipsam quidem ipsa, eveniet cum dolor ut aliquam esse ullam quos quia
    ea dolorum voluptatum?
  </p>
  <div class="w-full flex justify-end">
    <a
      href=""
      target="_blank"
      rel=""
      class="px-5 py-2 bg-purple-600 hover:bg-purple-500 rounded-md text-slate-50 shadow-purple-900 shadow-md"
      >Read more</a
    >
  </div>
</div>
