---
interface Props {
  orientation?: 'horizontal' | 'vertical'
  classList?: string
}

const { orientation = 'horizontal', classList = '' } = Astro.props
---

<section
  class:list={[
    'w-full max-w-xs flex items-center gap-2 z-10',
    classList,
    {
      'flex-col': orientation === 'vertical',
    },
  ]}>
  <slot />
</section>
