---
import SocialButton from '@/components/shared/SocialButton.astro'
import ExternalLinkIcon from '@/components/icons/ExternalLinkIcon.astro'
import GithubIcon from '@/components/icons/GithubIcon.astro'
interface Props {
  hoverText: string
  classList?: string
}

const { hoverText, classList = '' } = Astro.props
---

<div
  class:list={[
    'grid grid-cols-1 rounded-2xl focus:ring-8 ring-offset-4 ring-yellow-500 overflow-hidden shadow-md shadow-slate-500 border-purple-100 border-b-2',
    classList,
  ]}>
  <img
    class="w-full h-full object-cover col-start-1 row-start-1"
    src="test_image.png"
    alt="test image"
  />
  <div
    class="w-full h-full flex flex-col justify-center items-center col-start-1 row-start-1 bg-gradient-to-br from-purple-300 via-purple-700 to-purple-500 text-slate-100 text-lg font-semibold transition-opacity opacity-0 hover:opacity-100 border-1 border-purple-700">
    <span>{hoverText}</span>
    <SocialButton
      url=""
      description=""
      style="large">
      <GithubIcon slot="start" />
      <span>repo.git</span>
    </SocialButton>
    <SocialButton
      url=""
      description=""
      style="large">
      <ExternalLinkIcon slot="start" />
      <span>repo.git</span>
    </SocialButton>
  </div>
</div>
