---
interface Props {
	url: string
	description: string
	style?: 'small' | 'large'
}

const { url, description, style = 'small' } = Astro.props
---

<a
	class="flex items-center justify-center ring-yellow-500 focus:ring-4"
	href={`https://${url}`}
	aria-label={description}
	target="_blank">
	<div
		class:list={[
			'flex items-center justify-center rounded-md',
			{
				'w-10 h-10 transition-up hover:text-yellow-500':
					style === 'small',
				'w-full max-w-max h-10 text-yellow-500 hover:text-yellow-600 hover:underline':
					style === 'large',
			},
		]}>
		<slot name="start" />
		<slot />
		<slot name="end" />
	</div>
</a>

<style>
	a > .transition-up {
		transition-property: translate, color, background-color, border-color,
			text-decoration-color, fill, stroke;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
	}
	a:hover > .transition-up {
		translate: 0 -10px;
		scale: 1.1;
	}
</style>
