---
interface Props {
  tag: string
}

const { tag = '' } = Astro.props
---

<div
  class="w-24 h-24 p-2 flex flex-col justify-between items-center rounded-md hover:bg-slate-700/50 hover:animate-pulse">
  <slot />
  <span
    class="w-full rounded-md bg-purple-100 text-slate-700 text-xs uppercase text-center"
    >{tag}</span
  >
</div>
