---
import Layout from '@/layouts/Layout.astro'
import ArticleTitle from '@/components/shared/ArticleTitle.astro'
---

<Layout title="Armando Dev.">
  <main class="flex flex-col">
    <article
      id="about-me"
      class="min-h-[calc(100dvh-54px-69px)] flex justify-center items-center text-slate-200 bg-purple-900 px-5 py-32 snap-start">
      <div class="max-w-6xl w-full">
        <ArticleTitle textColor="text-slate-50">About Me</ArticleTitle>
        <div class="grid grid-cols-2">
          <section class="flex flex-col justify-center items-start">
            <p>
              Welcome to my personal website! I'm <span
                class="italic text-yellow-500 font-bold"
                >Armando José Peña Tamayo</span
              >, a passionate developer with experience in web development and a
              focus on creating engaging and user-friendly web applications.
            </p>
            <p>
              I have expertise in front-end frameworks like Angular and back-end
              technologies such as Node.js. I enjoy collaborating with teams and
              strive to write clean and efficient code.
            </p>
            <p>
              I'm constantly learning and staying up-to-date with the latest
              trends in web development. If you're interested in collaborating
              or have any questions, feel free to reach out. Let's create
              something amazing together!
            </p>
          </section>
          <section class="flex justify-end items-center">
            <img
              class="rounded-full w-80 max-w-xs max-h-96 shadow-yellow-500 border-slate-50 border-8 shadow-md transition-picture hover:rounded-sm hover:shadow-yellow-300 hover:shadow-xl hover:rotate-6 hover:scale-125"
              src="/picture.webp"
              alt=""
              loading="lazy"
            />
          </section>
        </div>
      </div>
    </article>
  </main>
</Layout>
