---
import Layout from '@/layouts/Layout.astro'
import ArticleTitle from '@/components/shared/ArticleTitle.astro'
---

<Layout title="Armando Dev. | About Me">
  <main class="flex flex-col">
    <article
      id="about-me"
      class="min-h-screen flex justify-center items-center text-slate-400 px-5 snap-start">
      <div class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full px-4">
        <ArticleTitle textColor="text-slate-50">About Me</ArticleTitle>
        <div
          class="w-full h-full grid md:grid-rows-1 md:grid-cols-2 md:gap-5 place-items-center">
          <section
            class="flex flex-col justify-center items-start my-5 md:my-0">
            <p>
              Hello! I'm <span class="italic text-yellow-500 font-bold"
                >Armando José Peña Tamayo</span
              >, a passionate developer with experience in web development and a
              focus on creating engaging and user-friendly web applications.
            </p>
            <p>
              I have expertise in front-end frameworks like Angular and back-end
              technologies such as Node.js. I enjoy collaborating with teams and
              strive to write clean and efficient code.
            </p>
            <p>
              I'm constantly learning and staying up-to-date with the latest
              trends in web development. If you're interested in collaborating
              or have any questions, feel free to reach out. Let's create
              something amazing together!
            </p>
          </section>
          <section
            class="h-min flex justify-end items-center row-start-1 md:col-start-2">
            <img
              class="w-52 h-52 md:w-60 md:h-60 xl:w-96 xl:h-96 rounded-full shadow-yellow-500 border-slate-50 border-8 shadow-md transition-picture hover:rounded-sm hover:shadow-yellow-300 hover:shadow-xl hover:rotate-6 hover:scale-125"
              src="/picture.webp"
              alt="Personal picture at night"
              loading="lazy"
            />
          </section>
        </div>
      </div>
    </article>
  </main>
</Layout>

<style></style>
