---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
---

<!-- TODO: Create better nick name for brand -->
<Layout title="Armando Dev.">
  <Navbar />
  <Header />
  <main></main>
</Layout>
