---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import WorkExperience from '@/components/WorkExperience.astro'
import PersonalProjects from '@/components/PersonalProjects.astro'
import Bloglatest from '@/components/FeaturedPosts.astro'
import Technologies from '@/components/Technologies.astro'
import Contact from '@/components/Contact.astro'
import AboutMe from '@/components/AboutMe.astro'
---

<!-- TODO: Create better nick name for brand -->
<Layout title="Armando Peña | Software Engineer Portfolio">
  <Hero />

  <main class="flex flex-col">
    <!-- Presentation Video -->
    <!-- About Me -->
    <AboutMe />
    <!-- Work Experience -->
    <WorkExperience />
    <!-- Personal Projects -->
    <PersonalProjects />
    <!-- Technologies -->
    <Technologies />
    <!-- Certifications -->
    <!-- Education -->
    <!-- Blog -->
    <Bloglatest />
    <!-- Testimonies -->
    <!-- Contact -->
    <Contact />
  </main>
</Layout>
