---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import AboutMe from '../components/AboutMe.astro'
import WorkExperience from '../components/WorkExperience.astro'
import PersonalProjects from '../components/PersonalProjects.astro'
import Technologies from '../components/Technologies.astro'
import Bloglatest from '../components/BlogLatest.astro'
---

<!-- TODO: Create better nick name for brand -->
<Layout title="Armando Dev.">
  <Header />

  <main class="flex flex-col">
    <!-- Technologies -->
    <Technologies />
    <!-- Work Experience -->
    <WorkExperience />
    <!-- Personal Projects -->
    <PersonalProjects />
    <!-- Blog -->
    <Bloglatest />
    <!-- About Me -->
    <AboutMe />
  </main>
</Layout>
