---
interface Props {
  orientation?: 'horizontal' | 'vertical'
}

const orientation = Astro.props.orientation ?? 'horizontal'
---

<section
  class:list={[
    'w-full max-w-xs flex items-center space-x-2',
    {
      'flex-col': orientation === 'vertical',
    },
  ]}>
  <slot />
</section>
