---
const YEAR_START_PROGRAMMING = 2019
const experience = () => new Date().getFullYear() - YEAR_START_PROGRAMMING
---

<span class="text-purple-700 italic font-bold">
  {experience} years of experience.
</span>
