---
import CopyrightYear from './CopyrightYear.astro'
import SocialButtonGroup from './SocialButtonGroup.astro'
---

<footer class="border-t w-full bg-purple-50 p-5">
  <div
    class="container mx-auto text-slate-600 flex justify-between items-center">
    <section class="flex flex-col items-start space-y-2">
      <span class="font-bold">
        <CopyrightYear />
      </span>
      <span class="">Armando Peña Tamayo</span>
    </section>
    <section>
      <span>Coded with💓.</span>
    </section>
    <section class="flex flex-col items-start space-y-2">
      <span class="font-bold">Social</span>
      <SocialButtonGroup style="flat" />
    </section>
  </div>
</footer>
