---
import SocialButtonGroup from '@/components/shared/SocialButtonGroup.astro'
---

<footer class="border-t w-full bg-purple-900 p-5">
  <div
    class="max-w-6xl mx-auto text-slate-100 flex justify-between items-center">
    <section class="flex flex-col items-start space-y-2">
      <span>Armando Peña Tamayo</span>
    </section>
    <section>
      <span>Coded with💓.</span>
    </section>
    <section class="flex flex-col items-start space-y-2">
      <SocialButtonGroup style="flat" />
    </section>
  </div>
</footer>
