---
import SocialButtonGroup from '@/components/shared/SocialButtonGroup.astro'
import HeartIcon from '@/components/icons/HeartIcon.astro'
---

<footer class="border-t border-purple-300 w-full bg-purple-950">
  <div
    class="flex justify-center items-center px-4 py-8 text-purple-200 bg-purple-900">
    <blockquote
      cite="https://www.goodreads.com/quotes/954148-a-king-may-move-a-man-a-father-may-claim"
      class="max-w-prose">
      “A King may move a man, a father may claim a son, but remember that even
      when those who move you be Kings, or men of power, your soul is in your
      keeping alone. When you stand before God, you cannot say, "But I was told
      by others to do thus." Or that, "Virtue was not convenient at the time."
      This will not suffice. Remember that.”
      <br />
      <span class="font-bold"> ― King Baldwin IV in Kingdom of Heaven </span>
    </blockquote>
  </div>
  <div
    class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full p-4 mx-auto text-purple-200 grid place-items-center grid-rows-3 md:grid-rows-1 md:grid-cols-3 gap-2">
    <section class="flex flex-col items-start gap-2 lg:text-lg tracking-widest">
      <span>Armando Peña Tamayo</span>
    </section>
    <section class="text-purple-300">
      <span class="flex items-center gap-2"
        >Thanks for stopping by <HeartIcon
          classList="w-4 h-4 text-rose-700 animate-pulse"
        /></span
      >
    </section>
    <section
      class="flex flex-col items-start gap-2 row-start-2 md:row-start-1 md:col-start-3">
      <SocialButtonGroup style="small" />
    </section>
  </div>
</footer>
