---
import SocialButtonGroup from '@/components/shared/SocialButtonGroup.astro'
import HeartIcon from '@/components/icons/HeartIcon.astro'
---

<footer class="border-t border-purple-300 w-full bg-purple-950 p-4">
  <div
    class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full px-4 mx-auto text-purple-200 grid place-items-center grid-rows-3 md:grid-rows-1 md:grid-cols-3 gap-2">
    <section class="flex flex-col items-start gap-2 lg:text-lg tracking-widest">
      <span>Armando Peña Tamayo</span>
    </section>
    <section class="text-purple-300">
      <span class="flex items-center gap-2"
        >Thanks for stopping by <HeartIcon
          classList="w-4 h-4 text-rose-700 animate-pulse"
        /></span
      >
    </section>
    <section
      class="flex flex-col items-start gap-2 row-start-2 md:row-start-1 md:col-start-3">
      <SocialButtonGroup style="small" />
    </section>
  </div>
</footer>
