---
import BackgroundCircle from './utilities/BackgroundCircle.astro'
import Experience from './utilities/Experience.tsx'
import SocialButtonGroup from './utilities/SocialButtonGroup.astro'

const nickName = 'armando dev.'
---

<article id="top">
  <header
    id="header"
    class="w-full bg-gradient-to-br from-slate-100 to-purple-200 flex justify-center shadow-purple-300 shadow-md -z-10 snap-start">
    <BackgroundCircle />
    <BackgroundCircle
      bg="bg-yellow-500"
      top="top-48"
      left="left-64"
    />
    <div
      class="max-w-6xl w-full min-h-screen flex flex-col justify-center items-center gap-5 p-5 z-10">
      <h1
        class="text-4xl sm:text-6xl md:text-8xl lg:text-9xl text-slate-700 font-bold mb-4 capitalize">
        {
          nickName.split('').map((ch, i) => (
            <span
              class:list={[
                'transition-all drop-shadow-md hover:drop-shadow-xl',
                {
                  'hover:text-purple-700': i === 0,
                  'hover:text-yellow-500': i !== 0,
                },
              ]}>
              {ch}
            </span>
          ))
        }
      </h1>
      <div class="max-w-prose flex flex-col justify-center items-center">
        <span class="text-lg text-slate-500 text-center mx-auto">
          Welcome to my website 👋.
        </span>
        <span class="text-slate-500 text-center mx-auto">
          I am a FrontEnd Web Developer with
          <Experience client:load />. Feel free to contact me if you find
          something interesting here or have a nice idea that needs to be
          developed.
        </span>
      </div>
      <SocialButtonGroup classList="justify-center" />
    </div>
  </header>
</article>
