---
import ButtonGroup from './ButtonGroup.astro'
import Experience from './Experience.astro'
---

<header
  class="w-full bg-gradient-to-br from-slate-100 to-purple-200 px-4 md:px-8 flex justify-center shadow-purple-300 shadow-md">
  <div
    class="container min-h-screen grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
    <div class="flex flex-col items-start justify-center col-span-2">
      <div class="mb-12">
        <h1 class="text-4xl md:text-8xl text-slate-700 font-bold mb-4">
          Armando Dev.
        </h1>
        <p class="text-sm text-slate-500 capitalize max-w-lg">
          FrontEnd Web Developer. <Experience client:load /> Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Modi architecto facilis
          recusandae ratione tempora incidunt odio nam repellendus qui laborum.
          Maiores iste nostrum doloribus eos voluptate accusantium esse fugit
          sit et omnis?
        </p>
      </div>
      <ButtonGroup />
    </div>
    <div class="flex justify-center items-center">
      <img
        class="object-cover rounded-lg w-80 max-w-xs max-h-96 shadow-purple-700 shadow-md transition-picture hover:shadow-purple-500 hover:shadow-xl"
        src="/picture.png"
        alt=""
        loading="lazy"
      />
    </div>
  </div>
</header>
