---
import ArrowDownIcon from './icons/ArrowDownIcon.astro'
import Experience from '@/components/shared/Experience'
import DownloadButton from '@/components/shared/DownloadButton'
---

<article id="hero">
  <header
    id="header"
    class="w-full h-[calc(100dvh-73px)] flex flex-col justify-center items-center snap-start">
    <div
      class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full px-2 sm:px-0 h-full grid place-items-center text-purple-300 sm:text-lg">
      <div
        class="flex flex-col justify-start md:justify-center items-center gap-4">
        <h2
          class="sm:text-lg md:text-xl lg:text-2xl xl:text-3xl text-purple-300 font-bold mb-4 capitalize">
          Armando Peña | Frontend Developer
        </h2>
        <h1
          class="text-4xl sm:text-5xl md:text-7xl xl:text-8xl text-center text-yellow-50 font-bold mb-4 tracking-tighter leading-10">
          Solving business problems through digital solutions.
        </h1>
        <p class="max-w-prose text-center sm:text-xl">
          <Experience /> developing customer centered web applications.
        </p>
        <div
          class="w-full flex flex-wrap justify-center items-center gap-2 mt-16">
          <a
            href="#contact"
            class="w-52 h-11 bg-yellow-500 text-purple-950 font-semibold transition-colors ease-in-out duration-300 hover:bg-yellow-700 hover:text-purple-50 active:bg-purple-300 active:ring-2 active:ring-purple-300 flex justify-center items-center gap-1 border-yellow-500 border-2 rounded-md tracking-wide mb-4 sm:mb-0">
            Lets work together!
          </a>
          <DownloadButton client:visible />
        </div>
      </div>
    </div>
    <a
      href="#work-experience"
      class="w-full h-12 hidden sm:flex flex-col justify-center items-center text-purple-200 go-down"
      aria-label="Go to first section.">
      <div class="w-2 h-[2px] bg-purple-300 mb-1"></div>
      <div class="w-2 h-1 bg-purple-300"></div>
      <div><ArrowDownIcon /></div>
    </a>
  </header>
</article>

<style>
  .bg-blob {
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox=%22150 160 740 760%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(240 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%234158D0%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23C850C0%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23ffcc70%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M838.5 698Q729 896 496.5 902T190 704q-74-204 18-377t273-140.5q181 32.5 324 173T838.5 698Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M838.5 698Q729 896 496.5 902T190 704q-74-204 18-377t273-140.5q181 32.5 324 173T838.5 698Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }

  .go-down div {
    opacity: 0.25;
    border-radius: 2px;
    animation-name: loading;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .go-down div:nth-child(2) {
    animation-delay: 0.3s;
  }
  .go-down div:nth-child(3) {
    opacity: 0.5;
    animation-delay: 0.6s;
  }

  @keyframes loading {
    to {
      opacity: 1;
    }
  }
</style>
