<article
  id="personal-projects"
  class="flex justify-center text-slate-500">
  <div class="max-w-6xl w-full">
    <h2 class="text-slate-700 font-bold text-xl">Personal Projects</h2>
  </div>
</article>
