---
import ArticleTitle from './shared/ArticleTitle.astro'
import GridCard from './shared/GridCard.astro'
---

<article
  id="personal-projects"
  class="flex justify-center text-slate-500 py-10 snap-start">
  <div class="max-w-6xl w-full">
    <ArticleTitle>Personal Projects</ArticleTitle>
    <section class="grid grid-cols-3 auto-rows-fr gap-2">
      <GridCard
        hoverText="1"
        classList="col-span-2"
      />
      <GridCard
        hoverText="2"
        classList=""
      />
      <GridCard
        hoverText="3"
        classList=""
      />
      <GridCard
        hoverText="4"
        classList="col-span-2"
      />
      <GridCard
        hoverText="5"
        classList="col-span-2"
      />
      <GridCard
        hoverText="6"
        classList=""
      />
      <GridCard
        hoverText="7"
        classList=""
      />
      <GridCard
        hoverText="8"
        classList=""
      />
      <GridCard
        hoverText="9"
        classList=""
      />
    </section>
  </div>
</article>
