---
import ArticleTitle from '@/components/shared/ArticleTitle.astro'
import AngularIcon from '@/components/icons/AngularIcon.astro'
import AppStoreIcon from '@/components/icons/AppStoreIcon.astro'
import AstroIcon from '@/components/icons/AstroIcon.astro'
import BootstrapIcon from '@/components/icons/BootstrapIcon.astro'
import Css3Icon from '@/components/icons/Css3Icon.astro'
import FirebaseIcon from '@/components/icons/FirebaseIcon.astro'
import GitIcon from '@/components/icons/GitIcon.astro'
import GithubIcon from '@/components/icons/GithubIcon.astro'
import GolangIcon from '@/components/icons/GolangIcon.astro'
import GooglePlayIcon from '@/components/icons/GooglePlayIcon.astro'
import HtmlIcon from '@/components/icons/HtmlIcon.astro'
import JsIcon from '@/components/icons/JsIcon.astro'
import MongoDbIcon from '@/components/icons/MongoDbIcon.astro'
import NodeJsIcon from '@/components/icons/NodeJsIcon.astro'
import NpmIcon from '@/components/icons/NpmIcon.astro'
import SqlIcon from '@/components/icons/SqlIcon.astro'
import TailwindIcon from '@/components/icons/TailwindIcon.astro'
import TsIcon from '@/components/icons/TsIcon.astro'
import UnityIcon from '@/components/icons/UnityIcon.astro'
import VercelIcon from '@/components/icons/VercelIcon.astro'
---

<article
  id="technologies"
  class="flex justify-center pt-10 scroll-m-12">
  <div class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full px-4">
    <ArticleTitle textColor="text-slate-50">
      most used
      <span class="bg-yellow-700 py-1 px-2 inline-block -skew-x-12">
        technologies
      </span>
    </ArticleTitle>
    <div
      class="w-full h-auto relative flex justify-center items-center flex-wrap p-4 gap-2">
      <div class="flex gap-2 p-4 flex-wrap justify-center items-center">
        <div
          class="item tech-item"
          data-tooltip="JavaScript">
          <JsIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >JavaScript</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="HTML">
          <HtmlIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >HTML</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="CSS3">
          <Css3Icon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >CSS3</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="TypeScript">
          <TsIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >TypeScript</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Bootstrap">
          <BootstrapIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Bootstrap</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Tailwind">
          <TailwindIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Tailwind</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Angular">
          <AngularIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Angular</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Astro">
          <AstroIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Astro</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Node.js">
          <NodeJsIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Node.js</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="npm">
          <NpmIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >NPM</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Git">
          <GitIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Git</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Github">
          <GithubIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Github</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Go">
          <GolangIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Golang</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Unity">
          <UnityIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Unity</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Firebase">
          <FirebaseIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Firebase</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="MongoDB">
          <MongoDbIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >MongoDB</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="SQL">
          <SqlIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >SQL</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Google Play">
          <GooglePlayIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >GooglePlay</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="App Store">
          <AppStoreIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >AppStore</span
          >
        </div>
        <div
          class="item tech-item"
          data-tooltip="Vercel">
          <VercelIcon classList="w-8 h-8" />
          <span
            class="text-purple-100 italic font-thin text-xs md:text-base hidden"
            >Vercel</span
          >
        </div>
      </div>
    </div>
  </div>
</article>

<style>
  .item {
    @apply w-16 h-16 md:w-24 md:h-24 flex flex-col justify-center items-center rounded-md bg-purple-950 text-purple-50 border border-purple-200 shadow-black shadow-lg hover:text-yellow-50 hover:border-yellow-50;
    z-index: 1;
    transition:
      scale 0.5s cubic-bezier(0.61, -0.66, 0.36, 1.65),
      z-index 0.5s linear,
      border-radius 0.6s ease-out;
    user-select: none;
  }

  .item:hover {
    @apply bg-purple-500;
    scale: 1.5;
    z-index: 3;
    span {
      @apply flex;
    }
  }

  .item:hover + .item {
    @apply bg-purple-800;
    scale: 1.25;
    z-index: 2;
  }

  .item:has(+ .item:hover) {
    @apply bg-purple-800;
    scale: 1.25;
    z-index: 2;
  }

  .item:first-child:hover ~ .item:last-child {
    @apply bg-purple-800;
    scale: 1.25;
    z-index: 2;
  }

  .item:first-child:has(~ .item:last-child:hover) {
    @apply bg-purple-800;
    scale: 1.25;
    z-index: 2;
  }
</style>
