---
import ArticleTitle from './utilities/ArticleTitle.astro'
import AngularIcon from './icons/AngularIcon.astro'
import AppStoreIcon from './icons/AppStoreIcon.astro'
import AstroIcon from './icons/AstroIcon.astro'
import BootstrapIcon from './icons/BootstrapIcon.astro'
import Css3Icon from './icons/Css3Icon.astro'
import FirebaseIcon from './icons/FirebaseIcon.astro'
import GitIcon from './icons/GitIcon.astro'
import GithubIcon from './icons/GithubIcon.astro'
import GolangIcon from './icons/GolangIcon.astro'
import GooglePlayIcon from './icons/GooglePlayIcon.astro'
import HtmlIcon from './icons/HtmlIcon.astro'
import JsIcon from './icons/JsIcon.astro'
import MongoDbIcon from './icons/MongoDbIcon.astro'
import NodeJsIcon from './icons/NodeJsIcon.astro'
import NpmIcon from './icons/NpmIcon.astro'
import SqlIcon from './icons/SqlIcon.astro'
import TailwindIcon from './icons/TailwindIcon.astro'
import TsIcon from './icons/TsIcon.astro'
import UnityIcon from './icons/UnityIcon.astro'
import VercelIcon from './icons/VercelIcon.astro'
import TechCard from './utilities/TechCard.astro'
---

<article
  id="technologies"
  class="flex justify-center text-purple-300 bg-purple-900 py-10 snap-start">
  <div class="max-w-6xl w-full">
    <ArticleTitle textColor="text-slate-50">technologies</ArticleTitle>
    <div class="flex flex-col items-center gap-10">
      <div class="flex justify-center w-full items-center gap-10">
        <TechCard tag="html">
          <HtmlIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="css">
          <Css3Icon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="javascript">
          <JsIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="typescript">
          <TsIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="golang">
          <GolangIcon classList="w-16 h-16" />
        </TechCard>
      </div>
      <div class="flex justify-center w-full items-center gap-10">
        <TechCard tag="bootstrap">
          <BootstrapIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="tailwind">
          <TailwindIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="Angular">
          <AngularIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="Astro">
          <AstroIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="unity">
          <UnityIcon classList="w-16 h-16" />
        </TechCard>
      </div>
      <div class="flex justify-center w-full items-center gap-10">
        <TechCard tag="firebase">
          <FirebaseIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="nodejs">
          <NodeJsIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="npm">
          <NpmIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="mongodb">
          <MongoDbIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="sql">
          <SqlIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="git">
          <GitIcon classList="w-16 h-16" />
        </TechCard>
      </div>
      <div class="flex justify-center w-full items-center gap-10">
        <TechCard tag="github">
          <GithubIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="google play">
          <GooglePlayIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="app store">
          <AppStoreIcon classList="w-16 h-16" />
        </TechCard>
        <TechCard tag="vercel">
          <VercelIcon classList="w-16 h-16" />
        </TechCard>
      </div>
    </div>
  </div>
</article>
