---
import ExternalLinkIcon from '../components/icons/ExternalLinkIcon.astro'
import SocialButton from '../components/SocialButton.astro'
---

<article
  id="work-experience"
  class="flex justify-center text-slate-500">
  <div class="max-w-6xl w-full">
    <h2 class="text-slate-700 font-bold text-xl">
      Companies to which I have contributed value
    </h2>
    <section class="flex justify-between items-center">
      <div>
        <img
          class="max-w-lg rounded-md"
          src="imagined_earth.png"
          alt="Imagined earth website"
        />
      </div>
      <div>
        <h3 class="text-slate-700 text-lg">Imagined Earth</h3>

        <span class="flex justify-start items-center gap-1">
          Development of a mobile application for Android and iOS using Ionic
          and Angular.
        </span>
        <p>
          Main features included Google Maps integrations, rewards systems and
          shoping system.
        </p>
        <div class="flex gap-1 text-purple-700">
          <SocialButton
            url="www.imaginedearth.com"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Imagined Earth
          </SocialButton>
          <SocialButton
            url="ionicframework.com"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Ionic
          </SocialButton>
          <SocialButton
            url="angular.io"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Angular
          </SocialButton>
        </div>
      </div>
    </section>
    <section class="flex justify-between items-center">
      <div>
        <h3 class="text-slate-700 text-lg">Cuban Engineer</h3>

        <span class="flex justify-start items-center gap-1">
          Development of a mobile application for Android and iOS using Ionic
          and Angular.
        </span>
        <p>
          Main features included Google Maps integrations, rewards systems and
          shoping system.
        </p>
        <div class="flex gap-1 text-purple-700">
          <SocialButton
            url="www.imaginedearth.com"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Imagined Earth
          </SocialButton>
          <SocialButton
            url="ionicframework.com"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Ionic
          </SocialButton>
          <SocialButton
            url="angular.io"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Angular
          </SocialButton>
        </div>
      </div>
      <div>
        <img
          class="max-w-lg rounded-md"
          src="cuban_engineer.png"
          alt="Imagined earth website"
        />
      </div>
    </section>
    <section class="flex justify-between items-center">
      <div>
        <img
          class="max-w-lg rounded-md"
          src="wassermeloni.png"
          alt="Imagined earth website"
        />
      </div>
      <div>
        <h3 class="text-slate-700 text-lg">Wassermeloni</h3>

        <span class="flex justify-start items-center gap-1">
          Development of a mobile application for Android and iOS using Ionic
          and Angular.
        </span>
        <p>
          Main features included Google Maps integrations, rewards systems and
          shoping system.
        </p>
        <div class="flex gap-1 text-purple-700">
          <SocialButton
            url="www.imaginedearth.com"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Imagined Earth
          </SocialButton>
          <SocialButton
            url="ionicframework.com"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Ionic
          </SocialButton>
          <SocialButton
            url="angular.io"
            description=""
            style="large">
            <ExternalLinkIcon slot="end" />
             Angular
          </SocialButton>
        </div>
      </div>
    </section>
  </div>
</article>
