---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Armando Dev. Blog">
  <main class="flex justify-center my-5 w-full">
    <article
      class="max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-6xl w-full flex justify-center items-center">
      <div
        class="max-w-[680px] w-full bg-purple-950 rounded-md p-10 flex justify-center items-center">
        <div
          class="post-content text-purple-300 text-lg max-w-prose w-full flex flex-col justify-center items-start gap-5">
          <slot />
        </div>
      </div>
    </article>
  </main>
</Layout>

<style is:global>
  h1 {
    font-size: 1.8rem /* 60px */;
    line-height: 1;
    color: #f8fafc;
    font-weight: 700;
  }
  h2 {
    font-size: 1.3rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    color: #e2e8f0;
    font-weight: 600;
  }
  h3 {
    font-size: 1.15rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    color: #e2e8f0;
    font-weight: 600;
  }

  p:has(img) {
    max-width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .post-content a {
    font-weight: 500;
    color: #eab308;
    transition: color 0.15s ease;
  }

  .post-content a:hover,
  .post-content a:active,
  .post-content a:focus {
    color: #a16207;
    outline: #a16207;
  }

  pre {
    max-width: 80ch;
  }

  blockquote {
    border-left: 2px solid gray;
    background: #3b0764;
    padding-left: 8px;
    font-style: italic;
  }

  .post-content ul {
    list-style: disc;
    list-style-position: inside;
  }
</style>
