---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Personal web site, portfolio and blog, of Software Developer Armando José Peña Tamayo."
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body class="w-full min-h-screen bg-slate-50">
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>
<style is:global>
  body {
    color-scheme: light dark;
  }

  .transition-picture {
    transition:
      shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      rotate 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .transition-picture:hover {
    rotate: 5deg;
  }

  p {
    max-width: 75ch;
  }

  pre.astro-code {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
</style>
